//COLORS
$color-primary: rgb(244, 244, 244);
$color-primary-light: #dbdbdb;
$color-background: #1a1e1f;
$color-hover: #00a3e0;
$color-background-section: #2b2b2b;
$color-background-footer: rgb(33, 38, 39);
$color-navigation-sticky: #222222f2;

$base-font-size: 10px;
