.cards {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding-bottom: 7rem;
  padding-inline: 3rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 4rem;

    @include respond(desktop-md) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
    }
  }
  &__heading {
    font-size: 2.7rem;
    font-weight: 100;
    color: $color-primary-light;

    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

.card {
  display: grid;
  grid-template-rows: 150px 1fr;

  border: 1px solid rgba(128, 128, 128, 0.945);
  border-radius: 8px;
  overflow: hidden;

  width: 30rem;
  height: 41.4rem;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3rem;

    font-weight: 400;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
  }

  &__registration {
    font-size: 1.6rem;
  }

  &__link-container {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link-logo {
    width: 1.6rem;
    height: 1.3rem;
  }

  &__link-text {
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-hover;
    transition: all 0.4s ease;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
